body {
    margin: 0px;
    background-color: #d4e7f3;
}

.parent-section {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    height: auto;
    max-width: 30rem;
    padding: 1rem;
}

.confirmation-heading {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.confirmation-text {
    font-size: 1rem;
    margin-top: 1rem;
    color: #333;
    line-height: 1.5rem;
}

.customize-another-button {
    font-size: small;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    background-color: #0099ff;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 28px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    box-sizing: border-box;
    margin-top: 8px;
    text-decoration: none;
}